# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы и директории
*.log*
node_modules/

# Папка с собранными файлами проекта
build/

# Генерируемый JS-bundle
public/bundle.js
public/bundle.js.map
